.activity {
  background: url('../images/img_activity.jpg') no-repeat;
  background-size: cover;
  .row {
    align-items: flex-start;
  }
  .bx_qol_b {
    padding-right: 0;
    padding-left: 32px;
  }
}
.rel {
  position: relative;
  transform: translateZ(0);
  &::after {
    position: absolute;
    width: calc(100% - 60px);
    height: 758px;
    background: linear-gradient(180deg, rgba(194,158,84,0.2) 0%, rgba(157,119,42,0.2) 100%);
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
  }
  &_wrap {
    width: calc(100% + 30px);
    margin: 0 -15px 0;
    padding: 40px 0 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  &_ar {
    float: left;
    width: 345px;
    padding: 0 15px;
    &:not(:nth-child(-n+4)) {
      margin-top: 50px;
    }
    > figure {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1;
          font-weight: bold;
          font-family: $yugo;
          color: #fff;
          background: #bc9345;
          padding: 10px 13px 9px 10px;
        }
      }
    }
    time {
      display: block;
      font-size: 1.4rem;
      line-height: 1;
      margin-top: 15px;
    }
    h4 {
      font-size: 1.8rem;
      line-height: 26px;
      margin-top: 12px;
      a {
        color: #b08838;
      }
    }
    .sns {
      margin-top: 16px;
      text-align: right;
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a {
      font-size: rem(16);
      color: #bc9345;
      width: 249px;
      height: 53px;
      border: 1px solid #bc9345;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition-duration: 0.3s;
      transition-property: color;
      transform: perspective(1px) translate3d(0,26.5px,0);
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #bc9345;
        transform: scaleX(0);
        transform-origin: 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      &:after {
        content: "";
        background: url(/common/images/arr_ft.png) no-repeat;
        background-size: contain;
        width: 6px;
        height: 8px;
        position: relative;
        margin-left: 16px;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleX(1);
        }
        &:after {
          background: url(/common/images/arr_ft_hv.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
.boxes {
  margin-top: 125px;
  display: flex;
  figure {
    width: 33.3%;
    position: relative;
    overflow: hidden;
    a:hover {
      img {
        transform: scale(1.1);
      }
      figcaption {
        background: linear-gradient(180deg, rgba(194,158,84,0.5) 0%, rgba(157,119,42,0.5) 100%);
      }
    }
    img {
      width: 100%;
      height: auto;
      transition: all 0.5s ease;
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(194,158,84,0.8) 0%, rgba(157,119,42,0.8) 100%);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      span {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 2.6rem;
        line-height: 1;
        text-align: center;
        padding: 0 0 21px;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 60px;
          height: 2px;
          background: #fff;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }
  }
}
.c_s {
  padding: 103px 0;
  &_main {
    display: flex;
    justify-content: center;
  }
  &_left {
    width: 690px;
    margin-left: -36px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(#000,0.04);
    padding: 45px 0 43px;
    text-align: center;
    margin-right: 40px;
    h3 {
      font-size: 3rem;
      line-height: 1;
      color: #b08838;
      padding: 0 0 20px;
      position: relative;
      margin-bottom: 22px;
      &::after {
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        background: #b08838;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
    p {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &.tel {
        font-size: 2.8rem;
        line-height: 1;
        a {
          font-size: 4.5rem;
          pointer-events: none;
          margin-left: 10px;
        }
      }
      &.fax {
        font-size: 2.3rem;
        line-height: 1;
        margin-top: 20px;
        span {
          font-size: 3.6rem;
          margin-left: 10px;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      a {
        font-size: rem(16);
        color: #bc9345;
        width: 249px;
        height: 53px;
        border: 1px solid #bc9345;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition-duration: 0.3s;
        transition-property: color;
        transform: perspective(1px) translateZ(0);
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #bc9345;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
        &:after {
          content: "";
          background: url(/common/images/arr_ft.png) no-repeat;
          background-size: contain;
          width: 6px;
          height: 8px;
          position: relative;
          margin-left: 16px;
        }
        &:hover {
          color: #fff;
          &:before {
            transform: scaleX(1);
          }
          &:after {
            background: url(/common/images/arr_ft_hv.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
    address {
      font-style: normal;
      font-size: 1.4rem;
      line-height: 25px;
      margin-top: 15px;
      a {
        color: #b08838;
        text-decoration: underline;
      }
    }
  }
  &_right {
    width: 690px;
    padding: 35px;
    margin-right: -35px;
    box-shadow: 0 0 30px 0 rgba(#000,0.04);
  }
}