.activity {
  background: url('../images/img_activity.jpg') center right no-repeat;
  background-size: cover;
  height: vw(550);
  .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_b{
    padding: 0 0 vw(30) 0;
    h3{
      font-size: vw(50);
      line-height: 1;
      color: #b08838;
    }
    p{
      font-size: vw(30);
      line-height: 1.5;
      color: #b08838;
      margin-top: vw(30);
    }
  }
}
.rel {
  position: relative;
  transform: translateZ(0);
  &_wrap {
    padding: vw(40) 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &_ar {
    width: vw(345);
    padding: 0 vw(15);
    &:not(:nth-child(-n+2)) {
      margin-top: vw(30);
    }
    > figure {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
          display: inline-block;
          font-size: vw(12*2);
          line-height: 1;
          font-weight: bold;
          font-family: $yugo;
          color: #fff;
          background: #bc9345;
          padding: vw(10) vw(13) vw(9) vw(10);
        }
      }
    }
    time {
      display: block;
      font-size: vw(14*1.5);
      line-height: 1;
      margin-top: vw(20);
    }
    h4 {
      font-size: vw(18*1.5);
      line-height: 1.5;
      margin-top: vw(20);
      a {
        color: #b08838;
      }
    }
    .sns {
      display: none;
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    margin-top: vw(50);
    a {
      font-size: vw(16*1.5);
      color: #bc9345;
      width: vw(249*1.5);
      height: vw(53*1.5);
      border: 1px solid #bc9345;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition-duration: 0.3s;
      transition-property: color;
      transform: perspective(1px) translateZ(0);
      &:after {
        content: "";
        background: url(/common/images/arr_ft.png) no-repeat;
        background-size: contain;
        width: vw(12);
        height: vw(16);
        position: relative;
        margin-left: vw(20);
      }
    }
  }
}
.boxes {
  margin-top: vw(60);
  figure {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 30vw;
      object-fit: cover;
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(194,158,84,0.8) 0%, rgba(157,119,42,0.8) 100%);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: block;
        width: 100%;
        color: #fff;
        font-size: vw(26*1.5);
        line-height: 1;
        text-align: center;
        padding: 0 0 vw(21*1.5);
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: vw(90);
          height: vw(6);
          background: #fff;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }
  }
}
.c_s {
  padding: vw(50) 0;
  &_main {
  }
  &_left {
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(#000,0.04);
    padding: vw(45) 0;
    text-align: center;
    h3 {
      font-size: vw(30*1.5);
      line-height: 1;
      color: #b08838;
      padding: 0 0 vw(20);
      position: relative;
      margin-bottom: vw(22);
      &::after {
        position: absolute;
        content: "";
        width: vw(90);
        height: vw(6);
        background: #b08838;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
    p {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &.tel {
        font-size: vw(28*1.5);
        line-height: 1;
        a {
          font-size: vw(45*1.5);
          pointer-events: none;
          margin-left: vw(20);
        }
      }
      &.fax {
        font-size: vw(23*1.5);
        line-height: 1;
        margin-top: vw(20);
        span {
          font-size: vw(26*1.5);
          margin-left: vw(20);
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-top: vw(20);
      a {
        font-size: vw(16*1.5);
        color: #bc9345;
        width: vw(249*1.5);
        height: vw(53*1.5);
        border: 1px solid #bc9345;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition-duration: 0.3s;
        transition-property: color;
        transform: perspective(1px) translateZ(0);
        &:after {
          content: "";
          background: url(/common/images/arr_ft.png) no-repeat;
          background-size: contain;
          width: vw(12);
          height: vw(16);
          position: relative;
          margin-left: vw(20);
        }
      }
    }
    address {
      font-style: normal;
      font-size: vw(28);
      line-height: 1.5;
      margin-top: vw(15);
      a {
        color: #b08838;
        text-decoration: underline;
      }
    }
  }
  &_right {
    box-shadow: 0 0 30px 0 rgba(#000,0.04);
    display: flex;
    justify-content: center;
    .under_c_wrap {
      width: vw(500);
      .fb-page,
      .fb-page span,
      .fb-page span iframe[style] {
        max-width: 100%!important;
      }
    }
  }
}