.slider {
  position: relative;
  .main_slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: percentage(632/1500);
    .wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        picture img {
          width: 100%;
          height: auto;
        }
        .pos_01{
          position: absolute;
          top: 0;
          font-size: rem(61);
          color: #fff;
          top: 50%;
          transform: translateY(-50%);
          left: 160px;
        }
        .pos_02{
          position: absolute;
          top: 0;
          font-size: rem(61);
          color: #fff;
          top: 50%;
          transform: translateY(-50%);
          right: 122px;
        }
      }
    }
  }
  /* .dot {
    display: none;
  } */
}

.st_dt_life {
  padding: 80px 0 77px;
  .ttl_section {
    font-size: rem(50);
    color: #b08838;
    line-height: 1;
    padding-left: 39px;
    position: relative;
    span {
      display: block;
      font-size: rem(18);
      margin-top: 25px;
    }
    &:before {
      content: "";
      width: 6px;
      height: 89px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: #b08838;
    }
  }
  .bx_about {
    display: flex;
    justify-content: space-between;
    &_l {
      width: calc(100% - 595px);
      margin-top: 63px;
      padding-right: 25px;
      figure {
        position: relative;
        width: 100%;
        figcaption {
          background: linear-gradient(90deg, rgba(194, 158, 84, 1) 0%, rgba(157, 119, 42, 1) 100%);
          padding: 33px 40px;
          opacity: 0.9;
          width: 554px;
          position: absolute;
          top: 152px;
          left: 176px;
          span {
            font-size: rem(14);
            color: #fff;
            line-height: 25px;
            display: block;
            +span {
              margin-top: 20px;
            }
          }
        }
      }
    }
    &_r {
      width: 595px;
      img {
        width: 595px;
        height: 525px;
      }
    }
  }
}

.bx_qol{
  background: url(../images/img_bx_ct.jpg) no-repeat;
  background-size: cover;
  height: 530px;
  .row{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &_b{
    padding-right: 35px;
    h3{
      font-size: rem(50);
      line-height: 1;
      color: #b08838;
    }
    p{
      font-size: rem(18);
      line-height: 1;
      color: #b08838;
      margin-top: 28px;
    }
  }
}

.bx_list_fun{
  ul{
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 82px;
    li{
      width: calc(20% - 20px);
      height: 294px;
      margin: 0 0 20px 20px;
      background-color: #fff;
      padding: 30px 22px 18px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04);
      &:nth-of-type(1){
        figure{
          img{
            width: 53px;
            height: 55px;
          }
        }
      }
      &:nth-of-type(2){
        figure{
          img{
            width: 81px;
            height: 57px;
          }
        }
      }
      &:nth-of-type(3){
        figure{
          img{
            width: 62px;
            height: 62px;
          }
        }
      }
      &:nth-of-type(4){
        figure{
          img{
            width: 73px;
            height: 55px;
          }
        }
      }
      &:nth-of-type(5){
        figure{
          img{
            width: 74px;
            height: 59px;
          }
        }
      }
      &:nth-of-type(6){
        figure{
          img{
            width: 57px;
            height: 54px;
          }
        }
      }
      &:nth-of-type(7){
        figure{
          img{
            width: 48px;
            height: 63px;
          }
        }
      }
      &:nth-of-type(8){
        figure{
          img{
            width: 55px;
            height: 65px;
          }
        }
      }
      &:nth-of-type(9){
        figure{
          img{
            width: 62px;
            height: 62px;
          }
        }
      }
      &:nth-of-type(10){
        figure{
          img{
            width: 58px;
            height: 62px;
          }
        }
      }
      figure{
        text-align: center;
        border-top: 1px dashed #e6c486;
        border-bottom: 1px dashed #e6c486;
        padding: 21px 0 14px;
        figcaption{
          font-size: rem(22);
          color: #b08838;
          line-height: 1;
          margin-top: 15px;
        }
      }
      em{
        font-style: normal;
        font-size: rem(16);
        line-height: 25px;
        text-align: center;
        display: block;
        margin-top: 20px;
      }
    }
  }
}