.slider {
  position: relative;
  .main_slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: vw(550);
    .wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        transition: all 3s;
        picture img {
          width: 100%;
          height: auto;
        }
        .pos_01{
          position: absolute;
          font-size: vw(50);
          color: #fff;
          top: 50%;
          transform: translateY(-50%);
          left: vw(50);
        }
        .pos_02{
          position: absolute;
          font-size: vw(50);
          color: #fff;
          top: 50%;
          transform: translateY(-50%);
          right: vw(50);
        }
      }
    }
  }
  /* .dot {
    display: none;
  } */
}

.st_dt_life {
  padding: vw(80) 0;
  .ttl_section {
    font-size: vw(50);
    color: #b08838;
    line-height: 1;
    padding-left: vw(40);
    position: relative;
    span {
      display: block;
      font-size: vw(30);
      margin-top: vw(20);
    }
    &:before {
      content: "";
      width: vw(8);
      height: vw(95);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: #b08838;
    }
  }
  .bx_about {
    &_l {
      margin-top: vw(60);
      figure {
        position: relative;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
        figcaption {
          background: linear-gradient(90deg, rgba(194, 158, 84, 1) 0%, rgba(157, 119, 42, 1) 100%);
          padding: vw(40);
          opacity: 0.9;
          width: 100%;
          span {
            font-size: vw(28);
            color: #fff;
            line-height: 1.5;
            display: block;
            +span {
              margin-top: vw(30);
            }
          }
        }
      }
    }
    &_r {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.bx_qol{
  background: url(../images/img_bx_ct.jpg) no-repeat;
  background-size: cover;
  height: vw(550);
  .row{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_b{
    padding: 0 0 vw(30) 0;
    h3{
      font-size: vw(50);
      line-height: 1;
      color: #b08838;
    }
    p{
      font-size: vw(30);
      line-height: 1.5;
      color: #b08838;
      margin-top: vw(30);
    }
  }
}

.bx_list_fun{
  ul{
     display: flex;
    flex-flow: row wrap; 
    padding: vw(50) 0 vw(82);
    li{
      width: calc(50% - #{vw(20)});
      margin: 0 0 vw(20) vw(20);
      background-color: #fff;
      padding: vw(40) vw(20) vw(20);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04);
      &:nth-of-type(1){
        figure{
          img{
            width: vw(106);
            height: vw(110);
          }
        }
      }
      &:nth-of-type(2){
        figure{
          img{
            width: vw(162);
            height: vw(114);
          }
        }
      }
      &:nth-of-type(3){
        figure{
          img{
            width: vw(124);
            height: vw(124);
          }
        }
      }
      &:nth-of-type(4){
        figure{
          img{
            width: vw(146);
            height: vw(110);
          }
        }
      }
      &:nth-of-type(5){
        figure{
          img{
            width: vw(148);
            height: vw(118);
          }
        }
      }
      &:nth-of-type(6){
        figure{
          img{
            width: vw(114);
            height: vw(108);
          }
        }
      }
      &:nth-of-type(7){
        figure{
          img{
            width: vw(96);
            height: vw(126);
          }
        }
      }
      &:nth-of-type(8){
        figure{
          img{
            width: vw(110);
            height: vw(130);
          }
        }
      }
      &:nth-of-type(9){
        figure{
          img{
            width: vw(123);
            height: vw(123);
          }
        }
      }
      &:nth-of-type(10){
        figure{
          img{
            width: vw(116);
            height: vw(124);
          }
        }
      }
      figure{
        text-align: center;
        border-top: 1px dashed #e6c486;
        border-bottom: 1px dashed #e6c486;
        padding: vw(20) 0;
        figcaption{
          font-size: vw(32);
          color: #b08838;
          line-height: 1;
          margin-top: vw(30);
        }
      }
      em{
        font-style: normal;
        font-size: vw(28);
        line-height: 1.5;
        text-align: center;
        display: block;
        margin-top: vw(30);
      }
    }
  }
}