@charset "utf-8";
// ===================================================================
//	common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.container {
    min-width: 1350px;
    overflow: hidden;
}