@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}
.row{
	padding: 0 vw(30);
}