footer {
  position: relative;
  &.ft_fix{
    padding-bottom: vw(187);
  }
  .ft_bx {
    background-color: #191a1e;
    padding-top: vw(15);
    position: fixed;
    transition: bottom 0.3s ease;
    left: 0;
    bottom: vw(-189);
    width: 100%;
    z-index: 9;
    &.active {
      bottom: 0;
    }
    &.stop {
      position: absolute;
      bottom: 0;
    }
    figure {
      display: flex;
      img {
        width: vw(100);
        height: vw(104);
      }
      figcaption {
        font-size: vw(20);
        line-height: 1.5;
        background-color: #fff;
        padding: vw(10) vw(15);
        position: relative;
        width: vw(320);
        height: vw(80);
        border-radius: 5px;
        margin-left: vw(10);
        display: block;
        &:before {
          content: "";
          background: url(/common/images/bf_bx_w.png) no-repeat;
          background-size: contain;
          width: vw(20);
          height: vw(14);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: vw(-16);
        }
      }
    }
    &_tel {
      line-height: 1;
      color: #b99340;
      font-size: vw(50);
      display: block;
      margin: vw(10) auto;
      text-align: center;
      span {
        font-size: vw(40);
        color: #b99340;
        display: inline-block;
        margin-right: vw(20);
      }
    }
    &_link {
      font-size: vw(26);
      color: #bc9345;
      width: vw(250);
      height: vw(80);
      border: vw(2) solid #bc9345;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition-duration: 0.3s;
      transition-property: color;
      transform: perspective(1px) translateZ(0);
      position: absolute;
      top: vw(17);
      right: vw(30);
      &:after {
        content: "";
        background: url(/common/images/arr_ft.png) no-repeat;
        background-size: contain;
        width: vw(12);
        height: vw(16);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(20);
      }
    }
  }
  .ft_top {
    background-image: url(/common/images/bkg_ft.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a67c31;
    background-blend-mode: multiply;
    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: vw(80) 0;
      p {
        font-size: vw(40);
        line-height: 1;
        color: #fff;
        text-align: center;
      }
    }
    &_rg {
      width: vw(220);
      h3 {
        font-size: vw(30);
        line-height: 1;
        color: #fff;
        position: relative;
        display: block;
        padding-right: vw(30);
        &:after {
          content: "";
          background: url(/common/images/arr_right.png) no-repeat;
          background-size: contain;
          width: vw(20);
          height: vw(22);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
        span {
          display: block;
          font-size: vw(24);
          margin-top: vw(20);
        }
      }
    }
  }
  .ft_bottom {
    background-color: #17191b;
    padding: vw(50) 0;
    &_f {
      position: relative;
      .logo_ft {
        text-align: center;
        a {
          display: block;
          img {
            width: vw(326);
            height: vw(42);
          }
        }
      }
      &_up {
        a {
          display: block;
          width: vw(40);
          height: vw(24);
          position: absolute;
          top: vw(20);
          right: 0;
          img {
            width: vw(40);
            height: vw(24);
          }
        }
      }
    }
    &_s {
      &_navft {
        padding: vw(60) 0;
        li {
          text-align: center;
          &:not(:last-child) {
            margin-bottom: vw(40);
          }
          a {
            font-family: $yugo;
            color: #fff;
            font-weight: bold;
            font-size: vw(26);
            line-height: 1;
            text-decoration: none;
            transition-duration: 0.3s;
            transition-property: color;
            transform: perspective(1px) translateZ(0);
            position: relative;
            display: block;
          }
        }
      }
      &_social {
        text-align: center;
        a {
          display: inline-block;
          img {
            width: vw(186);
            height: vw(34);
          }
        }
      }
    }
  }
}