footer {
  position: relative;
  &.ft_fix{
    padding-bottom: 83px;
  }
  .ft_bx {
    background-color: #191a1e;
    padding-top: 10px;
    position: fixed;
    transition: bottom 0.3s ease;
    left: 0;
    bottom: -83px;
    height: 83px;
    width: 100%;
    z-index: 9;
    min-width: 1350px;
    &.active {
      bottom: 0;
    }
    &.stop {
      position: absolute;
      bottom: 0;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 139px;
      height: 100%;
    }
    figure {
      display: flex;
      img {
        width: 74px;
        height: 77px;
      }
      figcaption {
        font-size: rem(16);
        line-height: 21px;
        background-color: #fff;
        padding: 11px 20px 13px 17px;
        position: relative;
        width: 304px;
        height: 63px;
        border-radius: 5px;
        margin-left: 14px;
        display: block;
        &:before {
          content: "";
          background: url(/common/images/bf_bx_w.png) no-repeat;
          background-size: contain;
          width: 14px;
          height: 11px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -14px;
        }
      }
    }
    &_tel {
      line-height: 1;
      color: #b99340;
      font-size: rem(46);
      display: block;
      pointer-events: none;
      margin: -10px 40px 0;
      span {
        font-size: rem(29);
        color: #b99340;
        display: inline-block;
        margin-right: 10px;
      }
    }
    &_link {
      font-size: rem(16);
      color: #bc9345;
      width: 249px;
      height: 53px;
      border: 1px solid #bc9345;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: -10px;
      transition-duration: 0.3s;
      transition-property: color;
      transform: perspective(1px) translateZ(0);
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #bc9345;
        transform: scaleX(0);
        transform-origin: 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      &:after {
        content: "";
        background: url(/common/images/arr_ft.png) no-repeat;
        background-size: contain;
        width: 6px;
        height: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 71px;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleX(1);
        }
        &:after {
          background: url(/common/images/arr_ft_hv.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }
  .ft_top {
    background-image: url(/common/images/bkg_ft.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a67c31;
    background-blend-mode: multiply;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(#a67c31,0.7);
    }
    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 214px;
      p {
        font-size: rem(50);
        line-height: 1;
        color: #fff;
      }
      &:hover{
        opacity: 0.8;
      }
    }
    &_rg {
      h3 {
        font-size: rem(30);
        line-height: 1;
        color: #fff;
        position: relative;
        padding-right: 38px;
        display: block;
        &:after {
          content: "";
          background: url(/common/images/arr_right.png) no-repeat;
          background-size: contain;
          width: 10px;
          height: 11px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
        span {
          display: block;
          font-size: rem(15);
          margin-top: 15px;
        }
      }
    }
  }
  .ft_bottom {
    background-color: #17191b;
    padding: 50px 0;
    &_f {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo_ft {
        a {
          display: block;
          img {
            width: 163px;
            height: 21px;
          }
        }
      }
      &_up {
        a {
          display: block;
          img {
            width: 20px;
            height: 12px;
          }
        }
      }
    }
    &_s {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      &_navft {
        li {
          display: inline-block;
          &:not(:last-child) {
            margin-right: 48px;
          }
          a {
            font-family: $yugo;
            color: #fff;
            font-weight: bold;
            font-size: rem(12);
            line-height: 1;
            text-decoration: none;
            transition-duration: 0.3s;
            transition-property: color;
            transform: perspective(1px) translateZ(0);
            position: relative;
            display: block;
            &:after {
              content: "";
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 2px;
              bottom: -8px;
              left: 0;
              right: 0;
              background: #a77d31;
              transform: scaleX(0);
              transform-origin: 50%;
              transition-property: transform;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            &:hover {
              &:after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      &_social {
        a {
          display: block;
          img {
            width: 93px;
            height: 17px;
          }
        }
      }
    }
  }
}