header {
  background-color: #17191b;
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    min-width: 1350px;
  }
  .hd_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_l {
      display: flex;
      align-items: center;
      &_logo {
        a {
          display: block;
          margin: 0 63px 0 30px;
          img {
            width: 163px;
            height: 21px;
          }
        }
      }
      &_nav {
        ul {
          li {
            display: inline-block;
            &:not(:last-child) {
              margin-right: 48px;
            }
            a {
              font-family: $yugo;
              color: #fff;
              font-weight: bold;
              font-size: rem(12);
              line-height: 1;
              text-decoration: none;
              transition-duration: 0.3s;
              transition-property: color;
              transform: perspective(1px) translateZ(0);
              position: relative;
              display: block;
              &:after {
                content: "";
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 2px;
                bottom: -8px;
                left: 0;
                right: 0;
                background: #a77d31;
                transform: scaleX(0);
                transform-origin: 50%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }
              &:hover {
                &:after {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }
    }
    &_r {
      &_link {
        font-size: rem(14);
        line-height: 1;
        color: #eed9b0;
        position: relative;
        width: 168px;
        height: 61px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        transition-duration: 0.3s;
        transition-property: color;
        transform: perspective(1px) translateZ(0);
        background-color: #a77d31;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
        &:after {
          content: "";
          background: url(/common/images/arr_hd.png) no-repeat;
          background-size: contain;
          width: 7px;
          height: 7px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 36px;
        }
        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}