header {
  background-color: #17191b;
  padding: vw(20) 0;
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
  }
  .hd_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vw(30);
    &_l {
      display: flex;
      align-items: center;
      &_logo {
        a {
          display: block;
          line-height: 1;
          img {
            width: vw(326);
            height: vw(42);
          }
        }
      }
      &_nav {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        overflow: scroll;
        visibility: visible;
        transition: height 0.3s;
        background-color: #fff;
        overflow: scroll;
        opacity: 0;
        backface-visibility: hidden;
        transition: all 0.5s ease;
        padding: 0 vw(30);
        padding-bottom: vw(30);
        &.open {
          opacity: 1;
          backface-visibility: visible;
          visibility: visible;
        }
        ul {
          padding-bottom: vw(20);
          li {
            width: 100%;
            &:not(:last-child) {
              border-bottom: 1px dotted #a7a7a7;
            }
            a {
              font-size: vw(32);
              display: block;
              font-family: $yugo;
              line-height: vw(119);
              padding-left: vw(70);
              color: #b08838;
              position: relative;
              font-weight: bold;
              &:before {
                content: "";
                background: url(/common/images/arr_nav.png) no-repeat;
                background-size: contain;
                width: vw(40);
                height: vw(24);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: vw(20);
              }
            }
          }
        }
        .hd_box_r_link {
          font-size: vw(32);
          display: block;
          font-family: $yugo;
          line-height: vw(100);
          width: 100%;
          height: vw(100);
          position: relative;
          text-align: center;
          color: #eed9b0;
          background-color: #a77d31;
          &:after {
            content: "";
            background: url(/common/images/arr_hd.png) no-repeat;
            background-size: contain;
            width: vw(14);
            height: vw(14);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 36px;
          }
        }
      }
    }
    &_r {
      .humberger {
        width: vw(40);
        height: vw(30);
        position: relative;
        transform: rotate(0deg);
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: vw(4);
          width: vw(40);
          background: #b08838;
          -moz-border-radius: 2px;
          border-radius: 2px;
          opacity: 1;
          right: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            bottom: 0;
          }
        }
        &.open {
          span {
            &:nth-child(1) {
              top: vw(13);
              transform: rotate(135deg);
            }
            &:nth-child(2) {
              opacity: 0;
              right: vw(60);
            }
            &:nth-child(3) {
              bottom: vw(13);
              transform: rotate(-135deg);
            }
          }
        }
      }
    }
  }
}