@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.under {
  &_banner {
    position: relative;
    width: 100%;
    height: vw(184*2);
    background-image: url('../images/banner.jpg');
    background-size: 100% 100%;
    background-position: top center;
    background-color: #494949;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: #fff;
    > p {
      font-size: vw(30*1.5);
      line-height: 1;
      padding: vw(62*2) vw(30) vw(63*2);
    }
    &_main {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-top: 1px solid #3c3c3c;
      ul {
        display: flex;
        padding: vw(11*1.5) vw(30);
        li {
          font-size: vw(12*2);
          line-height: 1;
          color: #c48310;
          padding: 0 vw(11*1.5) 0 vw(5*2);
          &:not(:last-child) {
            position: relative;
            &::after {
              position: absolute;
              content: "/";
              font-size: vw(12*2);
              line-height: 1;
              color: #fff;
              right: 0;
              top: 0;
            }
          }
          &:first-child {
            padding-left: 0;
            padding-right: vw(11*1.5);
          }
          &:last-child {
            padding-right: 0;
          }
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &_c {
    margin-top: vw(32*1.5);
    &_l {
      width: 100%;
      background: #fff;
      padding: vw(55) vw(30) vw(40);
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
    }
    &_ttl {
      font-size: vw(34*1.5);
      line-height: 1.5;
      font-weight: 400;
      color: #222;
      padding: 0 0 vw(10) 0;
      border-bottom: 1px solid #ccc;
    }
    &_sns {
      margin-top: vw(30);
    }
    &_cat {
      margin-top: vw(20);
      display: flex;
      flex-flow: row wrap;
      li {
        margin-top: vw(10);
        &:not(:last-child) {
          margin-right: vw(10);
        }
        a {
          padding: vw(8) vw(21) vw(9);
          background: #ededed;
          display: inline-block;
          white-space: nowrap;
          word-break: keep-all;
          color: #222222;
          font-size: vw(14*2);
          line-height: 1;
          font-family: $yugo;
        }
      }
    }
    &_d {
      font-size: vw(16*2);
      line-height: 1.5;
      padding: vw(35) 0 0;
      figure {
        margin: vw(40) 0 0;
        text-align: center;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
        + p {
          margin-top: vw(30);
        }
        + h3 {
          margin-top: vw(34);
        }
      }
      h3 {
        font-size: vw(24*1.5);
        line-height: 1.5;
        color: #b08838;
        padding-bottom: vw(20);
        border-bottom: 1px solid #b08838;
        + p {
          margin-top: vw(33);
        }
      }
    }
    &_r {
      width: 100%;
    }
    &_tag {
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      padding: vw(30);
      background: #fff;
      &_ttl {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: vw(18*1.5);
          line-height: 1;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% - #{vw(50*2+20)});
          height: vw(70);
          background: #c39d51;
          margin-right: vw(20);
        }
        span {
          width: vw(70);
          height: vw(70);
          overflow: hidden;
          position: relative;
          background: #c39d51;
          cursor: pointer;
          &::before {
            position: absolute;
            content: "\f067";
            font-family: 'Font Awesome 5 Pro';
            background-size: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: vw(40);
            color: #fff;
          }
          &.active {
            &::before {
              content: "\f068";
            }
          }
        }
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        margin-top: vw(20);
        li {
          margin: vw(10) vw(10) 0 0;
          a {
            font-size: vw(14*2);
            line-height: 1;
            white-space: nowrap;
            word-break: keep-all;
            font-family: $yugo;
            display: inline-block;
            padding: vw(9) vw(21);
            background: #ededed;
          }
        }
      }
    }
    &_face {
      background: #fff;
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      margin-top: vw(30);
      padding: vw(27) vw(30) vw(30);
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
        position: relative;
        font-size: vw(20*2);
        line-height: 1;
        padding: 0 0 vw(16);
        color: #3a5ca9;
        margin-bottom: vw(30);
        width: 100%;
        &::after {
          position: absolute;
          content: "";
          width: vw(90);
          height: vw(6);
          background: #3a5ca9;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
      .under_c_wrap {
        width: vw(500);
        .fb-page,
        .fb-page span,
        .fb-page span iframe[style] {
          max-width: 100%!important;
        }
      }
    }
    &_ins {
      background: #fff;
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      margin-top: vw(30);
      padding: vw(27) vw(30) vw(30);
      h3 {
        text-align: center;
        position: relative;
        font-size: vw(20*2);
        line-height: 1;
        padding: 0 0 vw(16);
        color: #e0275d;
        margin-bottom: vw(30);
        &::after {
          position: absolute;
          content: "";
          width: vw(90);
          height: vw(6);
          background: #e0275d;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        li {
          width: vw(118*1.6);
          margin-top: vw(10);
          margin-right: vw(10);
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.rel {
  margin-top: vw(60);
  h3 {
    text-align: center;
    font-size: vw(30*1.2);
    line-height: 1;
    font-weight: 400;
    padding: 0 0 vw(20);
    position: relative;
    color: #b08838;
    &::after {
      position: absolute;
      content: "";
      width: vw(90);
      height: vw(6);
      background: #b08838;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_wrap {
    width: calc(100% + #{vw(30)});
    margin: 0 #{vw(-15)} 0;
    padding: vw(30) 0 vw(50);
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  &_ar {
    float: left;
    width: vw(315);
    padding: 0 vw(15);
    > figure {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
          display: inline-block;
          font-size: vw(24);
          line-height: 1;
          font-weight: bold;
          font-family: $yugo;
          color: #fff;
          background: #bc9345;
          padding: vw(10) vw(13) vw(9) vw(10);
        }
      }
    }
    time {
      display: block;
      font-size: vw(28);
      line-height: 1;
      margin-top: vw(20);
    }
    h4 {
      font-size: vw(18*1.5);
      line-height: 1.5;
      margin-top: vw(12*1.5);
      a {
        color: #b08838;
      }
    }
    .sns {
      display: none;
    }
  }
}
.psc {
  background: #ece5d6;
  padding: vw(52) 0 vw(50);
  &_m {
  }
  h3 {
    text-align: center;
    font-size: vw(24*1.5);
    line-height: 1;
    font-weight: 400;
    padding: 0 0 vw(17);
    position: relative;
    color: #b08838;
    margin-bottom: vw(20);
    font-weight: 500;
    &::after {
      position: absolute;
      content: "";
      width: vw(90);
      height: vw(6);
      background: #b08838;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_l {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: vw(565);
        &:not(:first-child) {
          margin-top: vw(30);
        }
        a {
          display: block;
          font-size: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_r {
    &_su {
      margin-top: vw(30);
      ul {
        display: flex;
        justify-content: space-between;
        li {
          width: vw(273*1.2);
          
          a {
            display: block;
            font-size: 0;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &_cr {
      margin-top: vw(30);
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          width: vw(565);
          a {
            display: block;
            font-size: 0;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.social {
  background: #17191b;
  padding: vw(28) 0;
  ul {
    display: flex;
    justify-content: center;
    li {
      width: vw(70);
      height: vw(70);
      &:not(:last-child) {
        margin-right: vw(26);
      }
      a {
        border-radius: 50%;
        border: 1px solid #aaaaab;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          border: 1px solid #9a752f;
          background: #9a752f;
        }
        i {
          color: #aaaaab;
          font-size: vw(40);
        }
      }
    }
  }
}