@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.under {
  &_banner {
    position: relative;
    width: 100%;
    height: 184px;
    background-image: url('../images/banner.jpg');
    background-size: 100% 100%;
    background-position: top center;
    background-color: #494949;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: #fff;
    > p {
      font-size: 3rem;
      line-height: 1;
      padding: 62px 0 63px;
    }
    &_main {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-top: 1px solid #3c3c3c;
      ul {
        display: flex;
        padding: 11px 0;
        li {
          font-size: 1.2rem;
          line-height: 1;
          color: #c48310;
          padding: 0 11px 0 5px;
          &:not(:last-child) {
            position: relative;
            &::after {
              position: absolute;
              content: "/";
              font-size: 1.2rem;
              line-height: 1;
              color: #fff;
              right: 0;
              top: 0;
            }
          }
          &:first-child {
            padding-left: 0;
            padding-right: 11px;
          }
          &:last-child {
            padding-right: 0;
          }
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &_c {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    &_l {
      width: 890px;
      background: #fff;
      margin-right: 30px;
      padding: 55px 70px 41px 61px;
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
    }
    &_ttl {
      font-size: 3.4rem;
      line-height: 4.4rem;
      font-weight: 400;
      color: #222;
      padding: 0 0 33px 0;
      border-bottom: 1px solid #ccc;
    }
    &_sns {
      margin-top: 30px;
    }
    &_cat {
      margin-top: 30px;
      display: flex;
      li {
        &:not(:last-child) {
          margin-right: 10px;
        }
        a {
          padding: 8px 21px 9px;
          background: #ededed;
          display: inline-block;
          white-space: nowrap;
          word-break: keep-all;
          color: #222222;
          font-size: 1.4rem;
          line-height: 1;
          font-family: $yugo;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &_d {
      font-size: 1.6rem;
      line-height: 33px;
      padding: 35px 0 0;
      figure {
        width: 830px;
        margin: 40px -28.5px 0;
        text-align: center;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
        + p {
          margin-top: 30px;
        }
        + h3 {
          margin-top: 34px;
        }
      }
      h3 {
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: #b08838;
        padding-bottom: 20px;
        border-bottom: 1px solid #b08838;
        + p {
          margin-top: 33px;
        }
      }
    }
    &_r {
      width: 430px;
    }
    &_tag {
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      padding: 30px 0 30px 30px;
      background: #fff;
      &_ttl {
        display: flex;
        h3 {
          font-size: 1.8rem;
          line-height: 1;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 315px;
          height: 50px;
          background: #c39d51;
          margin-right: 10px;
        }
        span {
          width: 50px;
          height: 50px;
          overflow: hidden;
          position: relative;
          background: #c39d51;
          cursor: pointer;
          &::before {
            position: absolute;
            content: "\f067";
            font-family: 'Font Awesome 5 Pro';
            background-size: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 2rem;
            color: #fff;
          }
          &.active {
            &::before {
              content: "\f068";
            }
          }
        }
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
        li {
          margin: 10px 10px 0 0;
          a {
            font-size: 1.4rem;
            line-height: 1;
            white-space: nowrap;
            word-break: keep-all;
            font-family: $yugo;
            display: inline-block;
            padding: 9px 21px;
            background: #ededed;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    &_face {
      background: #fff;
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      margin-top: 30px;
      padding: 27px 30px 30px;
      h3 {
        text-align: center;
        position: relative;
        font-size: 2rem;
        line-height: 1;
        padding: 0 0 16px;
        color: #3a5ca9;
        margin-bottom: 15px;
        &::after {
          position: absolute;
          content: "";
          width: 60px;
          height: 2px;
          background: #3a5ca9;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }
    &_ins {
      background: #fff;
      box-shadow: 0 0 10px 5px rgba(#000,0.04);
      margin-top: 30px;
      padding: 27px 30px 30px;
      h3 {
        text-align: center;
        position: relative;
        font-size: 2rem;
        line-height: 1;
        padding: 0 0 16px;
        color: #e0275d;
        margin-bottom: 15px;
        &::after {
          position: absolute;
          content: "";
          width: 60px;
          height: 2px;
          background: #e0275d;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        li {
          width: 118px;
          &:not(:nth-child(3n)) {
            margin-right: 8px;
          }
          &:not(:nth-child(-n+3)) {
            margin-top: 8px;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.rel {
  margin-top: 103px;
  h3 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-weight: 400;
    padding: 0 0 17px;
    position: relative;
    color: #b08838;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background: #b08838;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_wrap {
    width: calc(100% + 30px);
    margin: 0 -15px 0;
    padding: 50px 0 104px;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .slick-arrow {
      position: absolute;
      width: 12px;
      height: 22px;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background: none;
      &.slick-prev {
        background: url('../images/arrow-l.png') 0 0 no-repeat;
        background-size: contain;
        left: -17px;
      }
      &.slick-next {
        background: url('../images/arrow-r.png') 0 0 no-repeat;
        background-size: contain;
        right: -17px;
      }
    }
  }
  &_ar {
    float: left;
    width: 315px;
    padding: 0 15px;
    > figure {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1;
          font-weight: bold;
          font-family: $yugo;
          color: #fff;
          background: #bc9345;
          padding: 10px 13px 9px 10px;
        }
      }
    }
    time {
      display: block;
      font-size: 1.4rem;
      line-height: 1;
      margin-top: 15px;
    }
    h4 {
      font-size: 1.8rem;
      line-height: 26px;
      margin-top: 12px;
      a {
        color: #b08838;
      }
    }
    .sns {
      margin-top: 16px;
      text-align: right;
    }
  }
}
.psc {
  background: #ece5d6;
  padding: 52px 0 50px;
  &_m {
    display: flex;
    justify-content: center;
  }
  h3 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 400;
    padding: 0 0 17px;
    position: relative;
    color: #b08838;
    margin-bottom: 20px;
    font-weight: 500;
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background: #b08838;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_l {
    width: 565px;
    margin-right: 140px;
    ul {
      li {
        &:not(:first-child) {
          margin-top: 40px;
        }
        a {
          display: block;
          font-size: 0;
        }
      }
    }
  }
  &_r {
    width: 565px;
    &_su {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          a {
            display: block;
            font-size: 0;
          }
        }
      }
    }
    &_cr {
      margin-top: 29px;
      ul {
        li {
          a {
            display: block;
            font-size: 0;
          }
        }
      }
    }
  }
}
.social {
  background: #17191b;
  padding: 28px 0;
  ul {
    display: flex;
    justify-content: center;
    li {
      width: 50px;
      height: 50px;
      &:not(:last-child) {
        margin-right: 26px;
      }
      a {
        display: flex;
        border-radius: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaaaab;
        &:hover {
          border: 1px solid #9a752f;
          background: #9a752f;
        }
        i {
          color: #aaaaab;
          font-size: 2.5rem;
        }
      }
    }
  }
}